[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Symlink to project root
tentaclio = {editable = true,path = "."}
# Linting
black = "==23.9.1"
isort = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
types-paramiko = "*"
types-pyyaml = "*"
types-requests = "*"
# Testing
moto = "==5.0.6"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
# Releasing
twine = "*"
secretstorage = "*"
