[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
# Symlink to project root
tentaclio = {editable = true,path = "."}
# Linting
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
types-paramiko = "*"
types-pyyaml = "*"
types-requests = "*"
# Testing
moto = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
# Releasing
twine = "*"
secretstorage = "*"
