[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
tentaclio = {editable = true,path = "."}
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
types-paramiko = "*"
types-pyyaml = "*"
types-requests = "*"
moto = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
twine = "*"
secretstorage = "*"
pkginfo = "*"

[packages]
